@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

// font family
$text-font: 'Press Start 2P', cursive;

// colors
$body-color: #FFC107;
$text-color: #000;
$hover-color: rgba($text-color, .15);